html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}audio,video{display:inline-block;vertical-align:baseline}audio:not([controls]){display:none;height:0}[hidden],template{display:none}a{background:0 0}a:active,a:hover{outline:0}b,strong{font-weight:700}dfn{font-style:italic}h1{font-size:2em;margin:.67em 0}img{border:0}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0}button{overflow:visible}button,select{text-transform:none}button,html input[type=button],input[type=submit]{-webkit-appearance:button;cursor:pointer;box-sizing:border-box}input[type=text]{-webkit-appearance:none;appearance: none;box-sizing:border-box}button[disabled],html input[disabled]{cursor:default}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}input{line-height:normal}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0}input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{height:auto}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}textarea{overflow:auto;box-sizing:border-box;border-color:#ddd}optgroup{font-weight:700}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}

body,div{font-size:0;}
p, span,h1,h2,h3,h4,h5,h6{margin:0;word-spacing:normal;word-wrap:break-word;-ms-word-wrap:break-word;pointer-events:auto;}
sup{font-size:inherit;vertical-align:baseline;position:relative;top:-0.4em;}
sub{font-size:inherit;vertical-align:baseline;position:relative;top:0.4em;}
ul{display:block;word-spacing:normal;word-wrap:break-word;list-style-type:none;margin:0;-moz-padding-start:0;-khtml-padding-start:0;-webkit-padding-start:0;-o-padding-start:0;-padding-start:0;-webkit-margin-before:0;-webkit-margin-after:0;}
li{display:block;}
li p{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select::none;-moz-user-select:none;-ms-user-select:none;-o-user-select:none;user-select:none;}
form{display:inline-block;}
a{text-decoration:inherit;color:inherit;-webkit-tap-highlight-color:rgba(0,0,0,0);}
textarea{resize:none;}
.shm-l{float:left;clear:left;}
.shm-r{float:right;clear:right;}
.whitespacefix{word-spacing:-1px;}
video:not(#video_background):not(.videoinline){width:100%;max-width:900px;}
video:-webkit-full-screen{max-width:100% !important;}
video:-moz-full-screen{max-width:100% !important;}
video:-ms-fullscreen{max-width:100% !important;}
video:fullscreen{max-width:100% !important;}
.player1.fullscreen1-active video{max-width:100% !important;}
html { -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
.animated{-webkit-animation-fill-mode:both;animation-fill-mode:both}.animated.infinite{-webkit-animation-iteration-count:infinite;animation-iteration-count:infinite}
@-webkit-keyframes fadeInDown{from{opacity:0;-webkit-transform:translate3d(0,-100%,0)}to{opacity:1;-webkit-transform:none}}@keyframes fadeInDown{from{opacity:0;transform:translate3d(0,-100%,0)}to{opacity:1;transform:none}}.fadeInDown{-webkit-animation-name:fadeInDown;animation-name:fadeInDown}
@-webkit-keyframes fadeIn{from{opacity:0}to{opacity:1}}@keyframes fadeIn{from{opacity:0}to{opacity:1}}.fadeIn{-webkit-animation-name:fadeIn;animation-name:fadeIn}
.slick-slider { position: relative; display: block; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-touch-action: pan-y; touch-action: pan-y; -ms-touch-action: none; -webkit-tap-highlight-color: transparent; }
.slick-list { position: relative; overflow: hidden; display: block; margin: 0; padding: 0; }
.slick-list:focus { outline: none; }
.slick-loading .slick-list { background: white url("ajax-loader.gif") center center no-repeat; }
.slick-list.dragging { cursor: pointer; cursor: hand; }
.slick-slider .slick-list, .slick-track, .slick-slide, .slick-slide img { -webkit-transform: translate(0, 0); -moz-transform: translate(0, 0); -ms-transform: translate(0, 0); -o-transform: translate(0, 0); transform: translate(0, 0); }
.slick-track { position: relative; left: 0; top: 0; display: block; zoom: 1; }
.slick-track:before, .slick-track:after { content: ""; display: table; }
.slick-track:after { clear: both; }
.slick-loading .slick-track { visibility: hidden; }
.slick-slide { float: left; height: 100%; min-height: 1px; display: none; }
.slick-slide img { display: block; }
.slick-slide.slick-loading img { display: none; }
.slick-slide.dragging img { pointer-events: none; }
.slick-initialized .slick-slide { display: block; visibility: visible !important; }
.slick-loading .slick-slide { visibility: hidden; }
.slick-vertical .slick-slide { display: block; height: auto; border: 1px solid transparent; }
@font-face { font-family: "slick"; src: url("slick.eot"); src: url("slick.eot?#iefix") format("embedded-opentype"), url("slick.woff") format("woff"), url("slick.ttf") format("truetype"), url("slick.svg#slick") format("svg"); font-weight: normal; font-style: normal; }
.slick-prev:before { content: "\2190"; }
.slick-next:before { content: "\2192"; }
.slick-prev, .slick-next { position: absolute; display: block; line-height: 0; font-size: 0; cursor: pointer; background: transparent; color: transparent; top: 50%; padding: 0; border: none; outline: none; }
.slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus { outline: none; background: transparent; color: transparent; }
.slick-prev:hover:before, .slick-prev:focus:before, .slick-next:hover:before, .slick-next:focus:before { opacity: 1; }
.slick-prev.slick-disabled:before, .slick-next.slick-disabled:before { opacity: 0.25; }
.slick-prev:before, .slick-next:before { font-family: "slick"; line-height: 1; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
.slick-dots { position: absolute; list-style: none; display: block; text-align: center; padding: 0; width: 100%; }
.slick-dots li { position: relative; display: inline-block; padding: 0; cursor: pointer; }
.slick-dots li button:hover, .slick-dots li button:focus { outline: none; }
.slick-dots li button:hover:before, .slick-dots li button:focus:before { opacity: 1; }
.slick-dots li button { border: 0; background: transparent; display: block; outline: none; line-height: 0; font-size: 0; color: transparent; padding: 5px; cursor: pointer; }
.slick-dots li button:before { position: absolute; top: 0; left: 0; content: "\2022"; font-family: "slick"; text-align: center; color: black; opacity: 0.25; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
[dir="rtl"] .slick-slide {float: right;}
[dir="rtl"] .slick-next:before {content: "\2190";}
[dir="rtl"] .slick-prev:before {content: "\2192";}

@-webkit-keyframes fadeInUp{from{opacity:0;-webkit-transform:translate3d(0,100%,0)}to{opacity:1;-webkit-transform:none}}@keyframes fadeInUp{from{opacity:0;transform:translate3d(0,100%,0)}to{opacity:1;transform:none}}.fadeInUp{-webkit-animation-name:fadeInUp;animation-name:fadeInUp}
#body{background-color:rgb(15,15,15);}
.pos{position:relative;margin-top:54px;}
.vis{display:block;vertical-align:top;}
.section{pointer-events:none;min-width:960px;width:960px;margin-left:auto;margin-right:auto;}
.vis-2{display:inline-block;vertical-align:top;}
.pos-2{position:relative;margin-left:0;margin-top:0;}
.size{min-width:58px;width:58px;min-height:28px;height:28px;}
.cont{z-index:1;pointer-events:auto;}
.img{position:absolute;left:0;width:57px;height:28px;top:0;border:0;}
.img-2{left:0;width:57px;height:28px;top:0;display:inline-block;}
.pos-3{position:relative;margin-left:0;margin-top:24px;}
.size-2{min-width:960px;width:960px;min-height:556px;}
.size-3{min-width:531px;width:531px;min-height:356px;}
.cont-3{z-index:2;pointer-events:auto;}
.vis-3{display:inline-block;vertical-align:top;overflow:hidden;}
.size-4{min-width:531px;width:531px;min-height:284px;height:284px;}
.cont-4{z-index:6;}
.para{padding-top:0;text-indent:0;padding-right:0;text-align:left;}
.font{font-family:Montserrat;font-size:42px;font-weight:100;font-style:normal;text-decoration:none;text-transform:none;color:rgb(255,255,255);background-color:initial;line-height:52px;letter-spacing:normal;text-shadow:none;}
.font-2{font-family:Montserrat;font-size:42px;font-weight:500;font-style:normal;text-decoration:none;text-transform:none;color:rgb(255,255,255);background-color:initial;line-height:52px;letter-spacing:normal;text-shadow:none;}
.font-3{font-family:Montserrat;font-size:42px;font-weight:600;font-style:normal;text-decoration:none;text-transform:none;color:rgb(255,255,255);background-color:initial;line-height:52px;letter-spacing:normal;text-shadow:none;}
.size-5{min-width:498px;width:498px;min-height:38px;height:38px;}
.cont-5{z-index:7;}
.font-4{font-family:Montserrat;font-size:30px;font-weight:200;font-style:normal;text-decoration:none;text-transform:none;color:rgb(255,255,255);background-color:initial;line-height:37px;letter-spacing:normal;text-shadow:none;}
.pos-4{position:relative;margin-left:2px;margin-top:13px;}
.size-6{min-width:112px;width:112px;min-height:21px;}
.cont-6{z-index:8;}
.cont-7{pointer-events:none;}
.pos-5{position:relative;margin-left:0;margin-top:2px;}
.size-7{min-width:18px;width:18px;min-height:19px;height:19px;}
.cont-8{z-index:9;pointer-events:auto;}
.anchor{display:block;}
.img-3{position:absolute;left:0;width:18px;height:19px;top:0;border:0;}
.img-4{left:0;width:18px;height:19px;top:0;display:inline-block;}
.pos-6{position:relative;margin-left:23px;margin-top:0;}
.size-8{min-width:24px;width:24px;min-height:21px;height:21px;}
.cont-9{z-index:10;pointer-events:auto;}
.img-5{position:absolute;left:1px;width:22px;height:21px;top:0;-webkit-filter: invert(100%);-moz-filter: invert(100%);filter: invert(100%);border:0;}
.img-6{left:1px;width:22px;height:21px;top:0;display:inline-block;}
.pos-7{position:relative;margin-left:22px;margin-top:3px;}
.size-9{min-width:25px;width:25px;min-height:17px;height:17px;}
.cont-10{z-index:11;pointer-events:auto;}
.img-7{position:absolute;left:0;width:25px;height:16px;top:1px;-webkit-filter: invert(100%);-moz-filter: invert(100%);filter: invert(100%);border:0;}
.img-8{left:0;width:25px;height:16px;top:1px;display:inline-block;}
.pos-8{position:relative;margin-left:58px;margin-top:0;}
.size-10{min-width:371px;width:371px;min-height:556px;}
.cont-11{z-index:5;pointer-events:auto;}
.colwrapper{line-height:0;}
.cont-12{z-index:3;pointer-events:auto;}
.size-11{display:inline-block;height:556px;width:100%;}
.js-7 .slider{height:556px;}
.js-7 .slick-prev, .js-7 .slick-next { height: 20px; width: 20px; margin-top: -10px; }
.js-7 .slick-prev:before, .js-7 .slick-next:before { font-size: 20px; color: rgb(255,255,255); opacity: 0.75; }
.js-7 .slick-prev { left: 3px; }
.js-7 .slick-next { right: 3px; }
.js-7 .slider-for { margin-bottom: 0px; }
.js-7 .slider-nav { margin-bottom: 0px; visibility: hidden; }
.js-7 .slider-nav img { border: solid 0px transparent; }
.js-7 .slider-nav .slick-center img { border-color: transparent; }
.js-7 .slick-dots { bottom: 0px; }
.js-7 .slick-dots li { height: 20px; width: 20px; margin: 0 5px; }
.js-7 .slick-dots li button { height: 20px; width: 20px; }
.js-7 .slick-dots li button:before { width: 20px; height: 20px; font-size: 6px; line-height: 20px; }
.js-7 .slick-dots li.slick-active button:before { color: rgb(15,15,15); opacity: 0.75; }
[dir="rtl"] .js-7 .slick-next {right: auto;left: 3px;}
[dir="rtl"] .js-7 .slick-prev {right: 3px;left: auto;}
.slider img { width: 100%; }

.pos-9{position:relative;margin-left:85px;margin-top:-280px;}
.size-12{min-width:200px;width:200px;min-height:120px;height:120px;}
.cont-13{z-index:4;border:0;background-color:transparent;}
.pos-10{position:relative;margin-left:0;margin-top:46px;}
.size-13{min-width:480px;width:480px;min-height:47px;height:47px;}
.cont-14{z-index:12;pointer-events:auto;}
.font-5{font-family:Montserrat;font-size:14px;font-weight:300;font-style:normal;text-decoration:none;text-transform:none;color:rgb(255,255,255);background-color:initial;line-height:24px;letter-spacing:normal;text-shadow:none;}
@font-face{font-family:"Futura Bk";src:url('Futura Book.ttf') format('truetype');font-weight:400;}
@font-face{font-family:"Futura-Heavy";src:url('Futura Heavy.ttf') format('truetype');font-weight:900;}
#body-2{background-color:rgb(255,255,255);}
.pos-11{position:relative;margin-top:36px;}
.pos-12{position:relative;margin-left:105px;margin-top:0;}
.size-14{min-width:750px;width:750px;min-height:99px;height:99px;}
.cont-15{pointer-events:auto;}
.para-2{padding-top:0;text-indent:0;padding-right:0;text-align:center;}
.font-6{font-family:"Futura Bk";font-size:17px;font-weight:400;font-style:normal;text-decoration:none;text-transform:none;color:rgb(6,6,6);background-color:initial;line-height:31px;letter-spacing:normal;text-shadow:none;}
.font-7{font-family:"Futura-Heavy";font-size:38px;font-weight:900;font-style:normal;text-decoration:none;text-transform:none;color:rgb(6,6,6);background-color:initial;line-height:59px;letter-spacing:normal;text-shadow:none;}
.pos-13{position:relative;margin-left:12px;margin-top:26px;}
.size-15{min-width:936px;width:936px;min-height:234px;}
.size-16{min-width:234px;width:234px;min-height:234px;height:234px;}
.cont-16{border:0;background-image:url(../images/-7608040122740983853_img_9114-234.jpg);background-color:rgb(158,175,185);background-repeat:no-repeat;background-position:50% 50%;background-size:cover;background-clip:padding-box;}
.cont-17{border:0;background-image:url(../images/-7634664766804667243_img_9116-234.jpg);background-color:rgb(158,175,185);background-repeat:no-repeat;background-position:50% 50%;background-size:cover;background-clip:padding-box;}
.cont-18{border:0;background-image:url(../images/6b85aaf2-b67b-4d20-803e-b91752365229-234.jpg);background-color:rgb(158,175,185);background-repeat:no-repeat;background-position:50% 50%;background-size:cover;background-clip:padding-box;}
.cont-19{border:0;background-image:url(../images/9-03-19-8-234.jpg);background-color:rgb(158,175,185);background-repeat:no-repeat;background-position:50% 50%;background-size:cover;background-clip:padding-box;}
.pos-14{position:relative;margin-left:12px;margin-top:0;}
.cont-20{border:0;background-image:url(../images/25jul-6-234.jpg);background-color:rgb(158,175,185);background-repeat:no-repeat;background-position:50% 50%;background-size:cover;background-clip:padding-box;}
.cont-21{border:0;background-image:url(../images/58644007266__420eef86-79c4-4c63-884f-52c2b126e02d-234.jpg);background-color:rgb(158,175,185);background-repeat:no-repeat;background-position:50% 50%;background-size:cover;background-clip:padding-box;}
.cont-22{border:0;background-image:url(../images/58672253703__cc79448d-7251-4c88-8760-58217f828926-234.jpg);background-color:rgb(158,175,185);background-repeat:no-repeat;background-position:50% 50%;background-size:cover;background-clip:padding-box;}
.cont-23{border:0;background-image:url(../images/circuits-5-234.jpg);background-color:rgb(158,175,185);background-repeat:no-repeat;background-position:50% 50%;background-size:cover;background-clip:padding-box;}
.cont-24{border:0;background-image:url(../images/dsc_0684-234.jpg);background-color:rgb(158,175,185);background-repeat:no-repeat;background-position:50% 50%;background-size:cover;background-clip:padding-box;}
.cont-25{border:0;background-image:url(../images/img_0324-234.jpg);background-color:rgb(158,175,185);background-repeat:no-repeat;background-position:50% 50%;background-size:cover;background-clip:padding-box;}
.cont-26{border:0;background-image:url(../images/img_3546-234.jpg);background-color:rgb(158,175,185);background-repeat:no-repeat;background-position:50% 50%;background-size:cover;background-clip:padding-box;}
.cont-27{border:0;background-image:url(../images/img_3596-234.jpg);background-color:rgb(158,175,185);background-repeat:no-repeat;background-position:50% 50%;background-size:cover;background-clip:padding-box;}
.cont-28{border:0;background-image:url(../images/img_3985-234.jpg);background-color:rgb(158,175,185);background-repeat:no-repeat;background-position:50% 50%;background-size:cover;background-clip:padding-box;}
.cont-29{border:0;background-image:url(../images/img_4301-234.jpg);background-color:rgb(158,175,185);background-repeat:no-repeat;background-position:50% 50%;background-size:cover;background-clip:padding-box;}
.cont-30{border:0;background-image:url(../images/img_4500-234.jpg);background-color:rgb(158,175,185);background-repeat:no-repeat;background-position:50% 50%;background-size:cover;background-clip:padding-box;}
.cont-31{border:0;background-image:url(../images/img_4574-234.jpg);background-color:rgb(158,175,185);background-repeat:no-repeat;background-position:50% 50%;background-size:cover;background-clip:padding-box;}
.cont-32{border:0;background-image:url(../images/img_4707-234.jpg);background-color:rgb(158,175,185);background-repeat:no-repeat;background-position:50% 50%;background-size:cover;background-clip:padding-box;}
.cont-33{border:0;background-image:url(../images/img_4715-234.jpg);background-color:rgb(158,175,185);background-repeat:no-repeat;background-position:50% 50%;background-size:cover;background-clip:padding-box;}
.cont-34{border:0;background-image:url(../images/img_4894-234.jpg);background-color:rgb(158,175,185);background-repeat:no-repeat;background-position:50% 50%;background-size:cover;background-clip:padding-box;}
.cont-35{border:0;background-image:url(../images/img_4947-234.jpg);background-color:rgb(158,175,185);background-repeat:no-repeat;background-position:50% 50%;background-size:cover;background-clip:padding-box;}
.cont-36{border:0;background-image:url(../images/img_5265-234.jpg);background-color:rgb(158,175,185);background-repeat:no-repeat;background-position:50% 50%;background-size:cover;background-clip:padding-box;}
.cont-37{border:0;background-image:url(../images/img_5298-234.jpg);background-color:rgb(158,175,185);background-repeat:no-repeat;background-position:50% 50%;background-size:cover;background-clip:padding-box;}
.cont-38{border:0;background-image:url(../images/img_5625-234.jpg);background-color:rgb(158,175,185);background-repeat:no-repeat;background-position:50% 50%;background-size:cover;background-clip:padding-box;}
.cont-39{border:0;background-image:url(../images/img_5775-234.jpg);background-color:rgb(158,175,185);background-repeat:no-repeat;background-position:50% 50%;background-size:cover;background-clip:padding-box;}
.cont-40{border:0;background-image:url(../images/img_6005-234.jpg);background-color:rgb(158,175,185);background-repeat:no-repeat;background-position:50% 50%;background-size:cover;background-clip:padding-box;}
.cont-41{border:0;background-image:url(../images/img_6006-234.jpg);background-color:rgb(158,175,185);background-repeat:no-repeat;background-position:50% 50%;background-size:cover;background-clip:padding-box;}
.cont-42{border:0;background-image:url(../images/img_6019-234.jpg);background-color:rgb(158,175,185);background-repeat:no-repeat;background-position:50% 50%;background-size:cover;background-clip:padding-box;}
.cont-43{border:0;background-image:url(../images/img_6049-234.jpg);background-color:rgb(158,175,185);background-repeat:no-repeat;background-position:50% 50%;background-size:cover;background-clip:padding-box;}
.cont-44{border:0;background-image:url(../images/img_6082-234.jpg);background-color:rgb(158,175,185);background-repeat:no-repeat;background-position:50% 50%;background-size:cover;background-clip:padding-box;}
.cont-45{border:0;background-image:url(../images/img_6146-234.jpg);background-color:rgb(158,175,185);background-repeat:no-repeat;background-position:50% 50%;background-size:cover;background-clip:padding-box;}
.cont-46{border:0;background-image:url(../images/img_6356-234.jpg);background-color:rgb(158,175,185);background-repeat:no-repeat;background-position:50% 50%;background-size:cover;background-clip:padding-box;}
.cont-47{border:0;background-image:url(../images/img_6461-234.jpg);background-color:rgb(158,175,185);background-repeat:no-repeat;background-position:50% 50%;background-size:cover;background-clip:padding-box;}
.cont-48{border:0;background-image:url(../images/img_6535-234.jpg);background-color:rgb(158,175,185);background-repeat:no-repeat;background-position:50% 50%;background-size:cover;background-clip:padding-box;}
.cont-49{border:0;background-image:url(../images/img_6557-234.jpg);background-color:rgb(158,175,185);background-repeat:no-repeat;background-position:50% 50%;background-size:cover;background-clip:padding-box;}
.cont-50{border:0;background-image:url(../images/img_6580-234.jpg);background-color:rgb(158,175,185);background-repeat:no-repeat;background-position:50% 50%;background-size:cover;background-clip:padding-box;}
.cont-51{border:0;background-image:url(../images/img_6692-234.jpg);background-color:rgb(158,175,185);background-repeat:no-repeat;background-position:50% 50%;background-size:cover;background-clip:padding-box;}
.cont-52{border:0;background-image:url(../images/img_6739-234.jpg);background-color:rgb(158,175,185);background-repeat:no-repeat;background-position:50% 50%;background-size:cover;background-clip:padding-box;}
.cont-53{border:0;background-image:url(../images/img_6786-234.jpg);background-color:rgb(158,175,185);background-repeat:no-repeat;background-position:50% 50%;background-size:cover;background-clip:padding-box;}
.cont-54{border:0;background-image:url(../images/r001-001-234.jpg);background-color:rgb(158,175,185);background-repeat:no-repeat;background-position:50% 50%;background-size:cover;background-clip:padding-box;}
.cont-55{border:0;background-image:url(../images/ttp-38-234.jpg);background-color:rgb(158,175,185);background-repeat:no-repeat;background-position:50% 50%;background-size:cover;background-clip:padding-box;}
.pos-15{position:relative;margin-left:105px;margin-top:51px;}
.size-17{min-width:750px;width:750px;min-height:62px;height:62px;}
.pos-16{position:relative;margin-left:12px;margin-top:51px;}
.size-18{min-width:468px;width:468px;min-height:231px;height:231px;}
.img-9{position:absolute;left:0;width:468px;height:231px;top:0;border:0;}
.img-10{left:0;width:468px;height:231px;top:0;display:inline-block;}
.pos-17{position:relative;margin-left:0;margin-top:333px;}
.size-19{min-width:468px;width:468px;min-height:263px;}
.video{width:468px;height:263px;}
.pos-18{position:relative;margin-left:12px;margin-top:50px;}
.size-20{min-width:468px;width:468px;min-height:351px;height:351px;}
.img-11{position:absolute;left:0;width:468px;height:351px;top:0;border:0;}
.img-12{left:0;width:468px;height:351px;top:0;display:inline-block;}
.pos-19{position:relative;margin-left:0;margin-top:452px;}
.pos-20{position:relative;margin-left:105px;margin-top:131px;}
.size-21{min-width:750px;width:750px;min-height:436px;height:436px;}
.font-8{font-family:"Futura-Heavy";font-size:29px;font-weight:900;font-style:normal;text-decoration:none;text-transform:none;color:rgb(6,6,6);background-color:initial;line-height:45px;letter-spacing:normal;text-shadow:none;}
.font-9{font-family:Georgia, Times, "Times New Roman", serif;font-size:17px;font-weight:400;font-style:normal;text-decoration:none;text-transform:none;color:rgb(15,15,15);background-color:initial;line-height:27px;letter-spacing:normal;text-shadow:none;}
@media (-webkit-min-device-pixel-ratio:2), (min-resolution:192dpi) {
.cont-16{background-image:url(../images/-7608040122740983853_img_9114-468.jpg);background-size:cover;}
.cont-17{background-image:url(../images/-7634664766804667243_img_9116-468.jpg);background-size:cover;}
.cont-19{background-image:url(../images/9-03-19-8-468.jpg);background-size:cover;}
.cont-20{background-image:url(../images/25jul-6-468.jpg);background-size:cover;}
.cont-21{background-image:url(../images/58644007266__420eef86-79c4-4c63-884f-52c2b126e02d-468.jpg);background-size:cover;}
.cont-22{background-image:url(../images/58672253703__cc79448d-7251-4c88-8760-58217f828926-468.jpg);background-size:cover;}
.cont-23{background-image:url(../images/circuits-5-468.jpg);background-size:cover;}
.cont-24{background-image:url(../images/dsc_0684-468.jpg);background-size:cover;}
.cont-25{background-image:url(../images/img_0324-468.jpg);background-size:cover;}
.cont-26{background-image:url(../images/img_3546-468.jpg);background-size:cover;}
.cont-27{background-image:url(../images/img_3596-468.jpg);background-size:cover;}
.cont-28{background-image:url(../images/img_3985-468.jpg);background-size:cover;}
.cont-30{background-image:url(../images/img_4500-468.jpg);background-size:cover;}
.cont-31{background-image:url(../images/img_4574-468.jpg);background-size:cover;}
.cont-32{background-image:url(../images/img_4707-468.jpg);background-size:cover;}
.cont-33{background-image:url(../images/img_4715-468.jpg);background-size:cover;}
.cont-34{background-image:url(../images/img_4894-468.jpg);background-size:cover;}
.cont-35{background-image:url(../images/img_4947-468.jpg);background-size:cover;}
.cont-36{background-image:url(../images/img_5265-468.jpg);background-size:cover;}
.cont-37{background-image:url(../images/img_5298-468.jpg);background-size:cover;}
.cont-38{background-image:url(../images/img_5625-468.jpg);background-size:cover;}
.cont-39{background-image:url(../images/img_5775-468.jpg);background-size:cover;}
.cont-40{background-image:url(../images/img_6005-468.jpg);background-size:cover;}
.cont-41{background-image:url(../images/img_6006-468.jpg);background-size:cover;}
.cont-44{background-image:url(../images/img_6082-468.jpg);background-size:cover;}
.cont-46{background-image:url(../images/img_6356-468.jpg);background-size:cover;}
.cont-49{background-image:url(../images/img_6557-468.jpg);background-size:cover;}
.cont-50{background-image:url(../images/img_6580-468.jpg);background-size:cover;}
.cont-51{background-image:url(../images/img_6692-468.jpg);background-size:cover;}
.cont-53{background-image:url(../images/img_6786-468.jpg);background-size:cover;}
.cont-54{background-image:url(../images/r001-001-468.jpg);background-size:cover;}
.cont-55{background-image:url(../images/ttp-38-468.jpg);background-size:cover;}
}
@media (-webkit-min-device-pixel-ratio:3), (min-resolution:288dpi) {
.cont-16{background-image:url(../images/-7608040122740983853_img_9114-702.jpg);background-size:cover;}
.cont-17{background-image:url(../images/-7634664766804667243_img_9116-702.jpg);background-size:cover;}
.cont-19{background-image:url(../images/9-03-19-8-702.jpg);background-size:cover;}
.cont-20{background-image:url(../images/25jul-6-702.jpg);background-size:cover;}
.cont-21{background-image:url(../images/58644007266__420eef86-79c4-4c63-884f-52c2b126e02d-702.jpg);background-size:cover;}
.cont-22{background-image:url(../images/58672253703__cc79448d-7251-4c88-8760-58217f828926-702.jpg);background-size:cover;}
.cont-23{background-image:url(../images/circuits-5-702.jpg);background-size:cover;}
.cont-24{background-image:url(../images/dsc_0684-702.jpg);background-size:cover;}
.cont-25{background-image:url(../images/img_0324-702.jpg);background-size:cover;}
.cont-26{background-image:url(../images/img_3546-702.jpg);background-size:cover;}
.cont-27{background-image:url(../images/img_3596-702.jpg);background-size:cover;}
.cont-28{background-image:url(../images/img_3985-702.jpg);background-size:cover;}
.cont-31{background-image:url(../images/img_4574-702.jpg);background-size:cover;}
.cont-33{background-image:url(../images/img_4715-702.jpg);background-size:cover;}
.cont-34{background-image:url(../images/img_4894-702.jpg);background-size:cover;}
.cont-35{background-image:url(../images/img_4947-702.jpg);background-size:cover;}
.cont-36{background-image:url(../images/img_5265-702.jpg);background-size:cover;}
.cont-37{background-image:url(../images/img_5298-702.jpg);background-size:cover;}
.cont-38{background-image:url(../images/img_5625-702.jpg);background-size:cover;}
.cont-39{background-image:url(../images/img_5775-702.jpg);background-size:cover;}
.cont-40{background-image:url(../images/img_6005-702.jpg);background-size:cover;}
.cont-41{background-image:url(../images/img_6006-702.jpg);background-size:cover;}
.cont-44{background-image:url(../images/img_6082-702.jpg);background-size:cover;}
.cont-46{background-image:url(../images/img_6356-702.jpg);background-size:cover;}
.cont-49{background-image:url(../images/img_6557-702.jpg);background-size:cover;}
.cont-50{background-image:url(../images/img_6580-702.jpg);background-size:cover;}
.cont-51{background-image:url(../images/img_6692-702.jpg);background-size:cover;}
.cont-53{background-image:url(../images/img_6786-702.jpg);background-size:cover;}
.cont-54{background-image:url(../images/r001-001-702.jpg);background-size:cover;}
.cont-55{background-image:url(../images/ttp-38-702.jpg);background-size:cover;}
}
