html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}audio,video{display:inline-block;vertical-align:baseline}audio:not([controls]){display:none;height:0}[hidden],template{display:none}a{background:0 0}a:active,a:hover{outline:0}b,strong{font-weight:700}dfn{font-style:italic}h1{font-size:2em;margin:.67em 0}img{border:0}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0}button{overflow:visible}button,select{text-transform:none}button,html input[type=button],input[type=submit]{-webkit-appearance:button;cursor:pointer;box-sizing:border-box}input[type=text]{-webkit-appearance:none;appearance: none;box-sizing:border-box}button[disabled],html input[disabled]{cursor:default}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}input{line-height:normal}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0}input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{height:auto}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}textarea{overflow:auto;box-sizing:border-box;border-color:#ddd}optgroup{font-weight:700}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}

body,div{font-size:0;}
p, span,h1,h2,h3,h4,h5,h6{margin:0;word-spacing:normal;word-wrap:break-word;-ms-word-wrap:break-word;pointer-events:auto;}
sup{font-size:inherit;vertical-align:baseline;position:relative;top:-0.4em;}
sub{font-size:inherit;vertical-align:baseline;position:relative;top:0.4em;}
ul{display:block;word-spacing:normal;word-wrap:break-word;list-style-type:none;margin:0;-moz-padding-start:0;-khtml-padding-start:0;-webkit-padding-start:0;-o-padding-start:0;-padding-start:0;-webkit-margin-before:0;-webkit-margin-after:0;}
li{display:block;}
li p{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select::none;-moz-user-select:none;-ms-user-select:none;-o-user-select:none;user-select:none;}
form{display:inline-block;}
a{text-decoration:inherit;color:inherit;-webkit-tap-highlight-color:rgba(0,0,0,0);}
textarea{resize:none;}
.shm-l{float:left;clear:left;}
.shm-r{float:right;clear:right;}
.whitespacefix{word-spacing:-1px;}
video:not(#video_background):not(.videoinline){width:100%;max-width:900px;}
video:-webkit-full-screen{max-width:100% !important;}
video:-moz-full-screen{max-width:100% !important;}
video:-ms-fullscreen{max-width:100% !important;}
video:fullscreen{max-width:100% !important;}
.player1.fullscreen1-active video{max-width:100% !important;}
html { -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
.animated{-webkit-animation-fill-mode:both;animation-fill-mode:both}.animated.infinite{-webkit-animation-iteration-count:infinite;animation-iteration-count:infinite}
@-webkit-keyframes fadeInDown{from{opacity:0;-webkit-transform:translate3d(0,-100%,0)}to{opacity:1;-webkit-transform:none}}@keyframes fadeInDown{from{opacity:0;transform:translate3d(0,-100%,0)}to{opacity:1;transform:none}}.fadeInDown{-webkit-animation-name:fadeInDown;animation-name:fadeInDown}
@-webkit-keyframes fadeIn{from{opacity:0}to{opacity:1}}@keyframes fadeIn{from{opacity:0}to{opacity:1}}.fadeIn{-webkit-animation-name:fadeIn;animation-name:fadeIn}
.slick-slider { position: relative; display: block; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-touch-action: pan-y; touch-action: pan-y; -ms-touch-action: none; -webkit-tap-highlight-color: transparent; }
.slick-list { position: relative; overflow: hidden; display: block; margin: 0; padding: 0; }
.slick-list:focus { outline: none; }
.slick-loading .slick-list { background: white url("ajax-loader.gif") center center no-repeat; }
.slick-list.dragging { cursor: pointer; cursor: hand; }
.slick-slider .slick-list, .slick-track, .slick-slide, .slick-slide img { -webkit-transform: translate(0, 0); -moz-transform: translate(0, 0); -ms-transform: translate(0, 0); -o-transform: translate(0, 0); transform: translate(0, 0); }
.slick-track { position: relative; left: 0; top: 0; display: block; zoom: 1; }
.slick-track:before, .slick-track:after { content: ""; display: table; }
.slick-track:after { clear: both; }
.slick-loading .slick-track { visibility: hidden; }
.slick-slide { float: left; height: 100%; min-height: 1px; display: none; }
.slick-slide img { display: block; }
.slick-slide.slick-loading img { display: none; }
.slick-slide.dragging img { pointer-events: none; }
.slick-initialized .slick-slide { display: block; visibility: visible !important; }
.slick-loading .slick-slide { visibility: hidden; }
.slick-vertical .slick-slide { display: block; height: auto; border: 1px solid transparent; }
@font-face { font-family: "slick"; src: url("slick.eot"); src: url("slick.eot?#iefix") format("embedded-opentype"), url("slick.woff") format("woff"), url("slick.ttf") format("truetype"), url("slick.svg#slick") format("svg"); font-weight: normal; font-style: normal; }
.slick-prev:before { content: "\2190"; }
.slick-next:before { content: "\2192"; }
.slick-prev, .slick-next { position: absolute; display: block; line-height: 0; font-size: 0; cursor: pointer; background: transparent; color: transparent; top: 50%; padding: 0; border: none; outline: none; }
.slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus { outline: none; background: transparent; color: transparent; }
.slick-prev:hover:before, .slick-prev:focus:before, .slick-next:hover:before, .slick-next:focus:before { opacity: 1; }
.slick-prev.slick-disabled:before, .slick-next.slick-disabled:before { opacity: 0.25; }
.slick-prev:before, .slick-next:before { font-family: "slick"; line-height: 1; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
.slick-dots { position: absolute; list-style: none; display: block; text-align: center; padding: 0; width: 100%; }
.slick-dots li { position: relative; display: inline-block; padding: 0; cursor: pointer; }
.slick-dots li button:hover, .slick-dots li button:focus { outline: none; }
.slick-dots li button:hover:before, .slick-dots li button:focus:before { opacity: 1; }
.slick-dots li button { border: 0; background: transparent; display: block; outline: none; line-height: 0; font-size: 0; color: transparent; padding: 5px; cursor: pointer; }
.slick-dots li button:before { position: absolute; top: 0; left: 0; content: "\2022"; font-family: "slick"; text-align: center; color: black; opacity: 0.25; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
[dir="rtl"] .slick-slide {float: right;}
[dir="rtl"] .slick-next:before {content: "\2190";}
[dir="rtl"] .slick-prev:before {content: "\2192";}

#body{background-color:rgb(6,6,6);}
.pos{position:relative;margin-top:67px;}
.vis{display:block;vertical-align:top;}
.section{pointer-events:none;min-width:1200px;width:1200px;margin-left:auto;margin-right:auto;}
.vis-2{display:inline-block;vertical-align:top;}
.pos-2{position:relative;margin-left:0;margin-top:0;}
.size{min-width:73px;width:73px;min-height:36px;height:36px;}
.cont{z-index:1;pointer-events:auto;}
.img{position:absolute;left:0;width:73px;height:36px;top:0;border:0;}
.img-2{left:0;width:73px;height:36px;top:0;display:inline-block;}
.pos-3{position:relative;margin-left:0;margin-top:29px;}
.size-2{min-width:1200px;width:1200px;min-height:696px;}
.pos-4{position:relative;margin-left:0;margin-top:0;}
.size-3{min-width:664px;width:664px;min-height:601px;}
.colwrapper{line-height:0;}
.size-4{min-width:664px;width:664px;min-height:445px;}
.cont-3{z-index:2;pointer-events:auto;}
.vis-3{display:inline-block;vertical-align:top;overflow:hidden;}
.size-5{min-width:664px;width:664px;min-height:355px;height:355px;}
.cont-4{z-index:10;}
.para{padding-top:0;text-indent:0;padding-right:0;text-align:left;}
.font{font-family:Montserrat;font-size:53px;font-weight:100;font-style:normal;text-decoration:none;text-transform:none;color:rgb(255,255,255);background-color:initial;line-height:64px;letter-spacing:normal;text-shadow:none;}
.font-2{font-family:Montserrat;font-size:53px;font-weight:500;font-style:normal;text-decoration:none;text-transform:none;color:rgb(255,255,255);background-color:initial;line-height:64px;letter-spacing:normal;text-shadow:none;}
.font-3{font-family:Montserrat;font-size:53px;font-weight:600;font-style:normal;text-decoration:none;text-transform:none;color:rgb(255,255,255);background-color:initial;line-height:64px;letter-spacing:normal;text-shadow:none;}
.pos-5{position:relative;margin-left:0;margin-top:0;}
.size-6{min-width:623px;width:623px;min-height:48px;height:48px;}
.cont-5{z-index:11;}
.para-2{padding-top:0;text-indent:0;padding-right:0;text-align:left;}
.font-4{font-family:Montserrat;font-size:38px;font-weight:200;font-style:normal;text-decoration:none;text-transform:none;color:rgb(255,255,255);background-color:initial;line-height:47px;letter-spacing:normal;text-shadow:none;}
.pos-6{position:relative;margin-left:2px;margin-top:16px;}
.size-7{min-width:141px;width:141px;min-height:26px;}
.cont-6{pointer-events:none;}
.pos-7{position:relative;margin-left:0;margin-top:3px;}
.size-8{min-width:23px;width:23px;min-height:23px;height:23px;}
.cont-7{z-index:12;pointer-events:auto;}
.anchor{display:block;}
.img-3{position:absolute;left:0;width:23px;height:23px;top:0;border:0;}
.img-4{left:0;width:23px;height:23px;top:0;display:inline-block;}
.pos-8{position:relative;margin-left:29px;margin-top:0;}
.size-9{min-width:30px;width:30px;min-height:26px;height:26px;}
.cont-8{z-index:13;pointer-events:auto;}
.img-5{position:absolute;left:2px;width:27px;height:26px;top:0;-webkit-filter: invert(100%);-moz-filter: invert(100%);filter: invert(100%);border:0;}
.img-6{left:2px;width:27px;height:26px;top:0;display:inline-block;}
.pos-9{position:relative;margin-left:27px;margin-top:4px;}
.size-10{min-width:32px;width:32px;min-height:21px;height:21px;}
.cont-9{z-index:14;pointer-events:auto;}
.img-7{position:absolute;left:0;width:32px;height:21px;top:0;-webkit-filter: invert(100%);-moz-filter: invert(100%);filter: invert(100%);border:0;}
.img-8{left:0;width:32px;height:21px;top:0;display:inline-block;}
.pos-10{position:relative;margin-left:479px;margin-top:124px;}
.size-11{min-width:105px;width:105px;min-height:32px;height:32px;}
.cont-10{z-index:6;pointer-events:auto;}
.para-3{padding-top:0;text-indent:0;padding-right:0;text-align:center;}
.font-5{font-family:Montserrat;font-size:18px;font-weight:200;font-style:normal;text-decoration:none;text-transform:none;color:rgb(255,255,255);background-color:initial;line-height:30px;letter-spacing:normal;text-shadow:none;}
.pos-11{position:relative;margin-left:-208px;margin-top:611px;}
.size-12{min-width:246px;width:246px;min-height:67px;}
.cont-11{z-index:9;pointer-events:auto;}
.pos-12{position:relative;margin-left:0;margin-top:1px;}
.size-13{min-width:129px;width:129px;min-height:66px;}
.cont-12{z-index:5;pointer-events:auto;}
.size-14{display:inline-block;height:66px;width:100%;}
.js-8 .slider{height:66px;}
.js-8 .slick-prev, .js-8 .slick-next { height: 20px; width: 20px; margin-top: -10px; }
.js-8 .slick-prev:before, .js-8 .slick-next:before { font-size: 20px; color: rgb(128,128,128); opacity: 0.75; }
.js-8 .slick-prev { left: -25px; }
.js-8 .slick-next { right: -25px; }
.js-8 .slider-for { margin-bottom: 0px; }
.js-8 .slider-nav { margin-bottom: 0px; visibility: hidden; }
.js-8 .slider-nav img { border: solid 0px transparent; }
.js-8 .slider-nav .slick-center img { border-color: transparent; }
.js-8 .slick-dots { bottom: 0px; }
.js-8 .slick-dots li { height: 20px; width: 20px; margin: 0 5px; }
.js-8 .slick-dots li button { height: 20px; width: 20px; }
.js-8 .slick-dots li button:before { width: 20px; height: 20px; font-size: 6px; line-height: 20px; }
.js-8 .slick-dots li.slick-active button:before { color: rgb(128,128,128); opacity: 0.75; }
[dir="rtl"] .js-8 .slick-next {right: auto;left: -25px;}
[dir="rtl"] .js-8 .slick-prev {right: -25px;left: auto;}
.slider img { width: 100%; }

.pos-13{position:relative;margin-left:117px;margin-top:-67px;}
.size-15{min-width:129px;width:129px;min-height:66px;}
.cont-13{z-index:4;pointer-events:auto;}
.js-9 .slider{height:66px;}
.js-9 .slick-prev, .js-9 .slick-next { height: 20px; width: 20px; margin-top: -10px; }
.js-9 .slick-prev:before, .js-9 .slick-next:before { font-size: 20px; color: rgb(128,128,128); opacity: 0.75; }
.js-9 .slick-prev { left: -25px; }
.js-9 .slick-next { right: -25px; }
.js-9 .slider-for { margin-bottom: 0px; }
.js-9 .slider-nav { margin-bottom: 0px; visibility: hidden; }
.js-9 .slider-nav img { border: solid 0px transparent; }
.js-9 .slider-nav .slick-center img { border-color: transparent; }
.js-9 .slick-dots { bottom: 0px; }
.js-9 .slick-dots li { height: 20px; width: 20px; margin: 0 5px; }
.js-9 .slick-dots li button { height: 20px; width: 20px; }
.js-9 .slick-dots li button:before { width: 20px; height: 20px; font-size: 6px; line-height: 20px; }
.js-9 .slick-dots li.slick-active button:before { color: rgb(128,128,128); opacity: 0.75; }
[dir="rtl"] .js-9 .slick-next {right: auto;left: -25px;}
[dir="rtl"] .js-9 .slick-prev {right: -25px;left: auto;}
.slider img { width: 100%; }

.pos-14{position:relative;margin-left:34px;margin-top:0;}
.size-16{min-width:464px;width:464px;min-height:696px;}
.cont-14{z-index:3;pointer-events:auto;}
.cont-15{z-index:7;pointer-events:auto;}
.size-17{display:inline-block;height:696px;width:100%;}
.js-11 .slider{height:696px;}
.js-11 .slick-prev, .js-11 .slick-next { height: 20px; width: 20px; margin-top: -10px; }
.js-11 .slick-prev:before, .js-11 .slick-next:before { font-size: 20px; color: rgb(255,255,255); opacity: 0.75; }
.js-11 .slick-prev { left: 3px; }
.js-11 .slick-next { right: 3px; }
.js-11 .slider-for { margin-bottom: 0px; }
.js-11 .slider-nav { margin-bottom: 0px; visibility: hidden; }
.js-11 .slider-nav img { border: solid 0px transparent; }
.js-11 .slider-nav .slick-center img { border-color: transparent; }
.js-11 .slick-dots { bottom: 0px; }
.js-11 .slick-dots li { height: 20px; width: 20px; margin: 0 5px; }
.js-11 .slick-dots li button { height: 20px; width: 20px; }
.js-11 .slick-dots li button:before { width: 20px; height: 20px; font-size: 6px; line-height: 20px; }
.js-11 .slick-dots li.slick-active button:before { color: rgb(6,6,6); opacity: 0.75; }
[dir="rtl"] .js-11 .slick-next {right: auto;left: 3px;}
[dir="rtl"] .js-11 .slick-prev {right: 3px;left: auto;}
.slider img { width: 100%; }

.pos-15{position:relative;margin-left:106px;margin-top:-351px;}
.size-18{min-width:250px;width:250px;min-height:150px;height:150px;}
.cont-16{z-index:8;border:0;background-color:transparent;}
@media (max-width:1199px) {
.pos{margin-top:13px;}
.section{min-width:320px;width:320px;}
.pos-2{margin-left:143px;}
.size{min-width:35px;width:35px;min-height:16px;height:16px;}
.img{left:1px;width:33px;height:16px;}
.img-2{left:1px;width:33px;height:16px;}
.pos-3{margin-left:25px;margin-top:11px;}
.size-2{min-width:272px;width:272px;min-height:452px;}
.size-3{min-width:272px;width:272px;min-height:424px;}
.size-4{min-width:272px;width:272px;min-height:129px;}
.size-5{min-width:272px;width:272px;min-height:97px;height:97px;}
.para{text-align:center;}
.font{font-size:16px;line-height:19px;}
.font-2{font-size:16px;line-height:19px;}
.font-3{font-size:16px;line-height:19px;}
.pos-5{margin-left:95px;margin-top:-10px;}
.size-6{min-width:80px;width:80px;min-height:20px;height:20px;}
.font-4{font-size:13px;line-height:16px;}
.pos-6{margin-left:-90px;}
.size-7{min-width:92px;width:92px;min-height:16px;}
.pos-7{margin-top:1px;}
.size-8{min-width:21px;width:21px;min-height:13px;height:13px;}
.img-3{left:4px;width:14px;height:13px;}
.img-4{left:4px;width:14px;height:13px;}
.pos-8{margin-left:12px;}
.size-9{min-width:20px;width:20px;min-height:16px;height:16px;}
.img-5{width:17px;height:16px;}
.img-6{width:17px;height:16px;}
.pos-9{margin-left:12px;margin-top:1px;}
.size-10{min-width:27px;width:27px;min-height:13px;height:13px;}
.img-7{left:3px;width:21px;height:13px;}
.img-8{left:3px;width:21px;height:13px;}
.pos-10{margin-left:100px;margin-top:274px;}
.size-11{min-width:73px;width:73px;min-height:21px;height:21px;}
.font-5{font-size:8px;line-height:14px;}
.pos-11{margin-left:78px;margin-top:-4px;}
.size-12{min-width:114px;width:114px;min-height:32px;}
.pos-12{margin-top:0;}
.size-13{min-width:60px;width:60px;min-height:32px;}
.size-14{height:32px;}
.js-8 .slider{height:32px;}
.pos-13{margin-left:55px;margin-top:-32px;}
.size-15{min-width:59px;width:59px;min-height:32px;}
.js-9 .slider{height:32px;}
.pos-14{margin-left:51px;margin-top:-312px;}
.size-16{min-width:169px;width:169px;min-height:254px;}
.size-17{height:254px;}
.js-11 .slider{height:254px;}
.pos-15{margin-left:40px;margin-top:-128px;}
.size-18{min-width:89px;width:89px;min-height:54px;height:54px;}
}
